<ion-header>
  <ion-navbar>
    <ion-title>Form Value</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header center color="primary">Data Peserta Skripsi</ion-list-header>
    <ion-item *ngFor="let user of userInfo; let i = index;">
        <ion-label fixed *ngIf="i == 0">Nama</ion-label>
        <ion-label fixed *ngIf="i == 1">NIM</ion-label>
        <ion-label fixed *ngIf="i == 2">Judul</ion-label>
        <ion-label fixed *ngIf="i == 3">Angkatan</ion-label>
        <ion-label fixed *ngIf="i == 4">Lintas Prodi?</ion-label>
        <ion-label text-right>{{ user }}</ion-label>
      </ion-item>
      <ion-item *ngFor="let pembimbing of listPembimbing; let i = index;">
          <ion-label>Pembimbing #{{i+1}}</ion-label>
          <ion-label text-right>{{ pembimbing }}</ion-label>
      </ion-item>
  </ion-list>

  <button block ion-button color="secondary" (click)="dismiss()">dismiss</button>
</ion-content>
